.about-logo {
    width: 80%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
}

.max-width {
    max-width: 200px;
}

.light-blue-bg {
    background: #438EB9;
}