REACT_APP_ENVIRONMENT="dev"

REACT_APP_PROJECT_NAME=Helium Student Planner
REACT_APP_PROJECT_TAGLINE=Lightening Your Course Load
REACT_APP_PROJECT_VERSION=2.0.0

REACT_APP_FRONTEND_HOST="http://localhost:3000"
REACT_APP_PLATFORM_HOST="http://localhost:8000"