<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="application-name" content="{{ PROJECT_NAME }}"/>
    <meta name="version" content="{{ PROJECT_VERSION }}"/>
    <link rel="icon" href="{{ PUBLIC_PATH }}/favicon.ico" type="image/x-icon"/>
    <link rel="apple-touch-icon" href="{{ PUBLIC_PATH }}/touch-icon.png"/>
    <link rel="apple-touch-icon" sizes="57x57" href="{{ PUBLIC_PATH }}/touch-icon-57x57.png"/>
    <link rel="apple-touch-icon" sizes="114x114" href="{{ PUBLIC_PATH }}/touch-icon-114x114.png"/>
    <link rel="apple-touch-icon" sizes="72x72" href="{{ PUBLIC_PATH }}/touch-icon-72x72.png"/>
    <link rel="apple-touch-icon" sizes="144x144" href="{{ PUBLIC_PATH }}/touch-icon-144x144.png"/>

    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

    <title>{% block title %}{{ PROJECT_NAME }}{% endblock %}</title>

    <!-- Meta data for SEO -->
    <link rel="canonical" href="https://www.heliumedu.com"/>
    <meta name="description"
          content="Helium is an online student planner that lets you organize and color-coordinate your schedule and schoolwork, capture details about every assignment, and plan your study time efficiently."/>

    <meta name="twitter:card" content="summary">
    <meta name="twitter:image" content="{{ PUBLIC_PATH }}/assets/img/logo_square.png">

    <meta property="og:locale" content="en_US"/>
    <meta property="og:type" content="website"/>
    <meta property="og:title" content="{{ PROJECT_NAME }} | {{ PROJECT_TAGLINE }}"/>
    <meta property="og:description"
          content="Helium is an online student planner that lets you organize and color-coordinate your schedule and schoolwork, capture details about every assignment, and plan your study time efficiently."/>
    <meta property="og:url" content="https://www.heliumedu.com"/>
    <meta property="article:publisher" content="https://www.facebook.com/heliumstudents"/>
    <meta property="og:image" content="{{ PUBLIC_PATH }}/assets/img/logo_facebook.png"/>
    {% block page_meta_extra %}{% endblock %}

    <!-- CDN dependencies -->
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.1.1/css/bootstrap.min.css" type="text/css"/>
    <script type="application/javascript" src="//cdnjs.cloudflare.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>

    {% for css in page_stylesheet_pre %}
    <link rel="stylesheet" href="{{ PUBLIC_PATH }}/{{ css }}" type="text/css"/>
    {% endfor %}

    {% for css in page_stylesheet_print %}
    <link rel="stylesheet" href="{{ PUBLIC_PATH }}/{{ css }}" type="text/css" media="print"/>
    {% endfor %}

    {% for css in base_stylesheet %}
    <link rel="stylesheet" href="{{ PUBLIC_PATH }}/{{ css }}" type="text/css"/>
    {% endfor %}

    <!--[if lte IE 8]>
    {% for css in base_ie8_stylesheet %}
    <link rel="stylesheet" href="{{ PUBLIC_PATH }}/{{ css }}" type="text/css"/>
    {% endfor %}
    <![endif]-->

    {% for js in base_header_javascript %}
    <script type="application/javascript" src="{{ PUBLIC_PATH }}/{{ js }}"></script>
    {% endfor %}

    {% for js in redirect_javascript %}
    <script type="application/javascript" src="{{ PUBLIC_PATH }}/{{ js }}"></script>
    {% endfor %}

    <!--[if lt IE 9]>
    {% for js in base_ie9_javascript %}
    <script type="application/javascript" src="{{ PUBLIC_PATH }}/{{ js }}"></script>
    {% endfor %}
    <![endif]-->

    {% for css in page_stylesheet %}
    <link rel="stylesheet" href="{{ PUBLIC_PATH }}/{{ css }}" type="text/css"/>
    {% endfor %}

    {% include "src/templates/snippets/googleanalytics-js.html" %}
</head>

<body class="navbar-fixed">
<div class="full-container" id="full-container">
    <div class="navbar navbar-default navbar-fixed-top hidden-print"
         id="navbar">

        <nav class="navbar-container" id="navbar-container" role="navigation">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a href="/" class="navbar-brand">
                    <img src="{{ PUBLIC_PATH }}/assets/img/logo.png" alt="Logo"/>
                </a>
            </div>

            <div class="collapse navbar-collapse">
                <ul id="planned-nav" class="nav navbar-nav hidden">
                    <li>
                        <a href="/planner/calendar">
                            <i class="icon-calendar"></i>
                            Calendar
                        </a>
                    </li>
                    <li>
                        <a href="/planner/classes">
                            <i class="icon-book"></i>
                            Classes
                        </a>
                    </li>
                    <li>
                        <a href="/planner/materials">
                            <i class="icon-briefcase"></i>
                            Materials
                        </a>
                    </li>
                    <li>
                        <a href="/planner/grades">
                            <i class="icon-bar-chart"></i>
                            Grades
                        </a>
                    </li>
                </ul>

                <ul class="nav navbar-nav navbar-right">
                    <li id="reminder-nav" class="green hidden-xs hidden">
                        <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                            <i class="icon-bell-alt"></i>
                            <span id="reminder-bell-alt-count" class="badge badge-success"
                                  style="display: none;"></span>
                        </a>

                        <ul class="pull-right dropdown-navbar dropdown-menu dropdown-caret dropdown-close">
                            <li class="dropdown-header">
                                <i class="icon-bell"></i>
                                <span id="reminder-bell-count"></span></li>
                        </ul>
                    </li>
                    <li id="authenticated-dropdown-nav" class="dropdown hidden">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            <i class="icon-tasks"></i>
                            Account <b class="caret"></b>
                        </a>
                        <ul class="dropdown-menu">
                            <li>
                                <a href="/settings">
                                    <i class="icon-cog"></i>
                                    Settings
                                </a>
                            </li>
                            <li class="divider"></li>
                            <li>
                                <a href="/logout">
                                    <i class="icon-signout"></i>
                                    Logout
                                </a>
                            </li>
                        </ul>
                    </li>

                    <li id="register-nav" class="hidden">
                        <a href="/register">
                            <i class="icon-user"></i>
                            Register
                        </a>
                    </li>
                    <li id="login-nav" class="hidden">
                        <a href="/login">
                            <i class="icon-signin"></i>
                            Login
                        </a>
                    </li>
                </ul>
            </div>
        </nav>
    </div>

    {% block content %}{% endblock %}

    <footer class="hidden-print">
        <div class="container">
            <div class="row social-footer">
                <div class="pull-right">
                    <a href="https://github.com/HeliumEdu" style="color: #ffffff;" target="_blank">
                        <img src="{{ PUBLIC_PATH }}/assets/img/github.png" alt="GitHub" width="38" height="38"
                             class="inline"/>
                    </a>
                    <a href="http://www.facebook.com/heliumstudents" style="color: #ffffff;" target="_blank">
                        <img src="{{ PUBLIC_PATH }}/assets/img/facebook.png" alt="Facebook" width="38" height="38"
                             class="inline"/>
                    </a>
                    <a href="http://blog.heliumedu.com" style="color: #ffffff;" target="_blank">
                        <img src="{{ PUBLIC_PATH }}/assets/img/tumblr.png" alt="Blog" width="38" height="38"
                             class="inline"/>
                    </a>
                    <a href="https://www.patreon.com/alexdlaird" style="color: #ffffff;" target="_blank">
                        <img src="{{ PUBLIC_PATH }}/assets/img/patreon.png" alt="Patreon" width="38" height="38"
                             class="inline"/>
                    </a>
                </div>
            </div>
        </div>
        <div class="container">
            <span>Copyright &copy; {{ COPYRIGHT_YEAR }} Helium Edu</span>
            <nav>
                <ul>
                    <li><a href="/">Tour</a></li>
                    <li><a href="/terms">Terms</a></li>
                    <li><a href="/privacy">Privacy</a></li>
                    <li><a href="/support">Support</a></li>
                    <li><a href="/press">Press</a></li>
                    <li><a href="/about">About</a></li>
                </ul>
            </nav>
        </div>
    </footer>
</div>

<!-- CDN dependencies -->
<script type="application/javascript" src="//cdnjs.cloudflare.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js"></script>
<script type="application/javascript"
        src="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.1.1/js/bootstrap.min.js"></script>

{% for js in base_javascript %}
<script type="application/javascript" src="{{ PUBLIC_PATH }}/{{ js }}"></script>
{% endfor %}

{% for js in page_javascript %}
<script type="application/javascript" src="{{ PUBLIC_PATH }}/{{ js }}"></script>
{% endfor %}

{% include "src/templates/snippets/structureddata-js.html" %}

</body>
</html>