{% extends "src/templates/base.njk" %}

{% block title %}{{ PROJECT_NAME }} | Contact{% endblock %}

{% block content %}
<div class="main-container" id="main-container">
    <div class="container">
        <div class="page-content">
            <div class="page-header">
                <h1>
                    Contact
                    <small>
                        <i class="icon-double-angle-right"></i>
                        &nbsp;we'd love to hear from you
                    </small>
                </h1>
            </div>

            <div class="row">
                <div class="col-sm-9">
                    <div data-uv-embed="contact" data-uv-screenshot_enabled="false"></div>
                </div>

                {% include "src/templates/snippets/connectsidebar.njk" %}
            </div>
        </div>
    </div>
</div>
{% endblock %}