{% extends "base/base.html" %}

{% set page_template = "planner_grades" %}

{% block title %}Grades | {{ PROJECT_NAME }}{% endblock %}

{% block page_head %}
{% include "snippets/freshdesk.html" %}
{% endblock %}

{% block content %}
    <div class="main-container">
        <div class="container">
            <div class="page-content">
                <div class="page-header">
                    <h1>
                        Grades
                        <small class="hidden-print">
                            <i class="icon-double-angle-right"></i>
                            &nbsp;track your progress
                            <span class="grades-help help-button cursor-hover"
                                  data-rel="popover"
                                  data-trigger="hover" data-container="body"
                                  data-placement="bottom"
                                  data-content="<span class='icon-x arrow-up-icon light-green'></span><span class='icon-x arrow-down-icon red'></span> &mdash; the current trend of this grade<br><strong>Weight Distribution</strong> &mdash; the weight of each category according to your syllabus. This represents how much each category will count toward your final grade.<br><strong>Current Distribution</strong> &mdash; how your current grade is divided across categories based only on the work graded so far. Categories with ungraded items won’t yet appear here.<br><br>Click for more details on how grades are calculated."
                                  title="Grade Analysis">?</span>
                            <div id="grades-loading" class="loading-mini" style="padding-left: 25px;">
                                <div id="loading-grades"></div>
                            </div>
                        </small>
                    </h1>
                </div>

                <div class="row">
                    <div class="col-sm-12">
                        <div class="tabbable">
                            <ul class="nav nav-tabs hidden-print" id="course-group-tabs">
                            </ul>

                            <div class="tab-content" id="course-group-tab-content">
                                <div id="no-grades-tab" class="tab-pane">
                                    <div class="helper-container">
                                        <div class="well">
                                            <h1 class="grey lighter smaller">
                                                <img src="{{ ASSETS_PREFIX_VERSIONED }}/img/logo_square.png" width="50" height="50"
                                                     class="logo-icon"/>
                                                Add Your Classes to Get Started
                                            </h1>

                                            <hr>
                                            <h3 class="lighter smaller">We can't calculate any grades for you if you
                                                don't have any classes. No big deal, just head over to <a
                                                        href="/planner/classes">Classes</a> to get started!</h3>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}