gradle-wrapper.jar
/.gradle
/captures/
/gradlew
/gradlew.bat
/local.properties
GeneratedPluginRegistrant.java
.cxx/
/.kotlin

# Remember to never publicly share your keystore.
# See https://flutter.dev/to/reference-keystore
app/google-services.json
key.properties
**/*.keystore
**/*.jks
