<div class="col-sm-3">
    <h3 class="lighter smaller">Connect with Us</h3>

    <div class="infobox infobox-blue">
        <div class="infobox-icon">
            <i class="icon-rss"></i>
        </div>

        <div class="infobox-data">
            <a class="infobox-data-number" href="https://blog.heliumedu.com"
               target="_blank">Read our</a>

            <div class="infobox-content">Blog</div>
        </div>
    </div>

    <div class="infobox infobox-blue">
        <div class="infobox-icon">
            <i class="icon-facebook"></i>
        </div>

        <div class="infobox-data">
            <a class="infobox-data-number" href="https://www.facebook.com/heliumedu"
               target="_blank">Like us on</a>

            <div class="infobox-content">Facebook</div>
        </div>
    </div>

    <div class="infobox">
        <a href="https://www.patreon.com/alexdlaird"><img src="{{ ASSETS_PREFIX }}/img/support_patreon.png" style="max-width: 97%; padding-top: 5px"/></a>
    </div>
</div>