<script>
    window.fwSettings = {
        'widget_id': 159000000768
    };
    !function () {
        evaluate_freshdesk_widget = function (event) {
            if (document.documentElement.clientWidth < 768) {
                window.FreshworksWidget('hide', 'launcher');
            } else {
                window.FreshworksWidget('show', 'launcher');
            }
        }

        if ("function" != typeof window.FreshworksWidget) {
            var n = function () {
                n.q.push(arguments)
            };
            n.q = [], window.FreshworksWidget = n;

            window.addEventListener('resize', evaluate_freshdesk_widget);
            evaluate_freshdesk_widget();
        }
    }()

</script>
<script type='text/javascript' src='https://widget.freshworks.com/widgets/159000000768.js' async defer></script>