<script type="application/ld+json">
{
  "@context": "http://schema.org",
  "@type": "Organization",
  "name": "Helium Edu",
  "url": "https://www.heliumedu.com",
  "logo": "https://www.heliumedu.com/assets/img/logo_square.png",
  "sameAs": [
    "https://www.facebook.com/heliumstudents",
    "http://blog.heliumedu.com/",
    "https://www.linkedin.com/company/9354004/admin/updates/"
  ],
  "contactPoint": {
    "@type": "ContactPoint",
    "email": "{{ PROJECT_EMAIL }}",
    "url": "https://www.heliumedu.com/support/",
    "contactType": "technical support"
  }
}
</script>