<div id="tab-feeds"
     class="tab-pane fade">
    <h4 class="red page-header">
        <i class="icon-rss bigger-110"></i>
        Feeds
    </h4>

    <div id="status_feed" class="alert hidden"></div>

    <div class="space-8"></div>

    <form class="form-horizontal" id="feed-form" role="form">
        <div class="form-group">
            <label class="block clearfix bottom-buffer-10">
                <h4>Feed URLs <span class="privatefeeds-help help-button cursor-hover"
                                    data-rel="popover"
                                    data-trigger="hover"
                                    data-container="body"
                                    data-placement="right"
                                    data-content="Feed URLs make your calendars publicly accessible through a private URL to any application (like Google or Apple calendar) that supports iCal URLs. Click for more details on how to use this."
                                    title="Feeds out of Helium">?</span></h4>
                <span id="private-feed-urls"></span>
            </label>
        </div>

        <div class="helper-container">
            <div class="well">
                Keep private feed URLs secret. If a feed is compromised, disabling and re-enabling feeds
                will regenerate URLs.
            </div>
        </div>

        <hr/>

        <div class="form-group col-xs-12">
            <div id="feed-loading" class="loading-mini">
                <div id="loading-feed"></div>
            </div>
            <button id="enable-disable-feed" type="button" class="btn btn-success btn-sm pull-right">
                <i class="icon-check"></i>
                Enable
            </button>
        </div>
    </form>
</div>