name: "Build"

run-name: "Build ${{ github.ref_name }}"

on:
  push:
    branches: [ main, develop ]
  pull_request:
    branches: [ main, develop ]
  schedule:
    - cron: "0 9 * * *"

permissions:
  contents: read
  issues: none
  pull-requests: none

jobs:
  build:
    name: Build

    env:
      ANDROID_GOOGLE_SERVICES_JSON: ${{ secrets.ANDROID_GOOGLE_SERVICES_JSON }}
      KEYSTORE_PATH: android/app/debug-keystore.jks
      IOS_GOOGLE_SERVICES_PLIST: ${{ secrets.IOS_GOOGLE_SERVICES_PLIST }}

    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
      - name: Setup Flutter SDK
        uses: flutter-actions/setup-flutter@v4
        with:
          channel: stable
          version: "3.38.1"
      - uses: actions/setup-java@v4
        with:
          distribution: "temurin"
          java-version: "17"
      - uses: android-actions/setup-android@v3 # Consider using this to install specific SDKs
        with:
          api-level: "36"
          build-tools-version: "36.1.0"
      - name: Decode Keystore
        run: echo "${{ secrets.KEYSTORE_BASE64 }}" | base64 --decode > android/app/debug-keystore.jks
      - name: List files in lib directory
        run: flutter doctor
      - name: Test
        run: make test
      - name: Build iOS
        run: make build-ios
      - name: Build Android
        run: make build-android
